.home {
    min-height: 87%;

    &__products,
    &__skeletons  {
        display: flex;
        flex-wrap: wrap;
        max-width: 1100px;
        padding: 7.25rem 8rem;
        gap: 22px;
        margin: auto;
    }

    &__skeleton {
        width: calc(25% - 18px);
        border-radius: 8px;
        box-shadow: 0px 0px 9px #E5E5E5;
        background-color: rgb(243, 243, 243);
        height: 200px;
        animation: loading 1.5s infinite ease-in-out;
    }
}

@keyframes loading {
    0% {
        transform: scale(.9);
    }
    50% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(.9);
    }
}